{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
  <h2>Reset Password</h2>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ email }}">
    <div class="mb-3">
      <label>OTP</label>
      <input type="text" name="otp" class="form-control" maxlength="6" required>
    </div>
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" name="new_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Confirm Password</label>
      <input type="password" name="confirm_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Reset Password</button>
  </form>

  {% for message in messages %}
    <div class="alert alert-info mt-3">{{ message }}</div>
  {% endfor %}
</div>
{% endblock %}
